.clr{
    color:white;

}
.log{
    color:whitesmoke;
}.hobbi{
    color:white;
}
h1{
    color: rgb(206, 87, 87);
}
body{
    width: 100%;
    height: 100vh
    background-size:cover;
    background-repeat: no-repeat;
}